<header>
  <h1><%= link_to ".chess", root_path %></h1>
  <h2>Player Black</h2>
</header>

<article>
  <div id="canvas"></div>
  <div id="instructions"></div>
</article>


<script>
  $(function() {
    var p = new Player.Canvas($("#canvas"), "<%= @game_id %>", "black");
    p.checkForMove();
  });

</script>